# Ignore Python bytecode files and etc
__pycache__/
*.py[cod]
settings.json
secret_keys.py

# Ignore virtual environment directories
venv/
.env

# Ignore logs
logs/
*.log
*.txt
startup_log.txt

# Ignore VS Code settings and extensions
.vscode/

# Ignore other OS-specific files
.DS_Store
.codegpt

# Ignore celery beat schedule files
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
db.sqlite3