# Python
__pycache__/
*.py[cod]
*.pyc
secret_keys.py

# Virtualenv
.venv/
.env

# SQLite
db.sqlite3

# Django generated
media/
staticfiles/

# Secrets
secrets/
*.secret.yaml
*.pem
*.key

# Logs
logs/
*.log
startup_log.txt

# Celery
celerybeat-schedule*

# VSCode
.vscode/

# OS
.DS_Store

# Personal 
tutorial
app/source/Dockerfile.exp
app/source/docker-compose.yml
docker-compose.yml
app/source/docker-compose-monitoring.yml
